@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Gorditas:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&family=Protest+Guerrilla&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




.smoke {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, rgb(13, 0, 255) 0%, rgb(255, 0, 247) 70%);
  box-shadow: 0 0 4px rgb(0, 229, 255);
  transform: translate(-50%, -50%);
  animation: neonFade 1s ease-out forwards;
  filter: blur(0px); /* start sharp */
}

@keyframes neonFade {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px); /* sharp at start */
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3.5);
    filter: blur(15px); /* smooth blur at end */
  }
}


/* animation for floating message container  */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}


